<div class="dialog">

    <h2 mat-dialog-title>
        Agregar una tarea
    </h2>
    <mat-dialog-content>
        <form class="task-form" [formGroup]="formTaskCreate" (submit)="submit()">

            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre de la tarea" formControlName="name" required />
                @if(!formTaskCreate.get("name")?.invalid){
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                }
                @else {
                <mat-icon matSuffix>sentiment_dissatisfied</mat-icon>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Usuario</mat-label>
                <mat-select formControlName="user" required>
                    
                    @for (user of userList; track user.id) {
                    <mat-option  [value]="user">{{user.name}} : {{user.id}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="data.edit">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="state" required>
                    <mat-option>--</mat-option>
                    @for (state of states; track state) {
                    <mat-option [value]="state">{{state}}</mat-option>
                    }
                </mat-select>

            </mat-form-field>

            <mat-error *ngIf="errMsg != ''">
                {{errMsg}}
            </mat-error>

            <button type="submit" mat-raised-button>Submit</button>
        </form>
    </mat-dialog-content>
</div>