.tab-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin: 10px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: start;    
}
.nav-link{
    max-width: 100px;
}