.dialog-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}
.title{
    display: flex;
    justify-content: center;
}

.create{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.footer{
    display: flex;
    justify-content: center;
}

.dialog{
    margin: 10px;
}